/* WHATS ON */
.whatson {
  position: relative;
}

.whatson .inner {
  display: flex;
  padding-top: 60px;
  padding-bottom: 77px;
}

.whatson .sub-title {
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: var(--main-color);
  font-weight: 600;
}

.whatson__txt {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  flex-basis: 0;
}

.whatson__txt-title .title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
}

.whatson__txt-info .info-date {
  margin-bottom: 2px;
}

.whatson__txt-info .info-date,
.whatson__txt-info .info-location {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', 'Pretendard', Helvetica, "Apple SD Gothic Neo", Dotum, 돋움, sans-serif;
}

.whatson__link {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 242px;
  background: url("../images/icon/ico_whatson_arrow.svg") no-repeat center;
  background-size: contain;
}

.whatson__img {
  position: relative;
  flex-basis: 0;
}

.whatson__img .swiper {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}

.whatson__img .swiper-pagination.swiper-pagination-bullets {
  bottom: -30px;
}

.whatson__img .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e8e8e8;
  opacity: 1;
}

.whatson__img .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.whatson__decorate-txt {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transform: rotate(270deg);
  transform-origin: bottom right;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  line-height: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.whatson__decorate-img {
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: 1;
  overflow: hidden;
  width: 52px;
  height: 186px;
  background: url("../images/icon/ico_barcode.svg") no-repeat center;
  background-size: contain;
}

/* QUICK MENU */
.quick-menu {
  display: flex;
  margin-bottom: 155px;
}

.quick-sub-title,
.quick-menu__guide .quick-title {
  display: block;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.quick-title,
.quick-menu__guide .quick-sub-title {
  font-size: 24px;
  font-weight: 500;
}

.quick-menu__rental {
  position: relative;
  width: 25%;
  padding: 35px 38px;
  color: #fff;
  background-color: #000;
}

.quick-menu__rental::before {
  content: "";
  position: absolute;
  bottom: 35px;
  right: 38px;
  width: 103px;
  height: 81px;
  background: url("../images/icon/ico_map.png") no-repeat center;
  background-size: contain;
}

.quick-menu__guide {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 35px 38px;
  color: #000;
  background-color: #f8f8f8;
}

.guide-title-wrap {
  width: 35%;
}

.guide-menu {
  width: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 28px;
}

.guide-menu .menu-item {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}

.guide-menu .menu-item a {
  padding: 60px 0 5px;
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}

.guide-menu .menu-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 63px;
  height: 75px;
  background: url("../images/icon/ico_guide1.svg") no-repeat left bottom;
  background-size: contain;
}

.guide-menu .menu-item:nth-child(2) a::before {
  width: 58px;
  height: 80px;
  background-image: url("../images/icon/ico_guide2.svg");
}

.guide-menu .menu-item:nth-child(3) a::before {
  width: 82px;
  height: 77px;
  background-image: url("../images/icon/ico_guide3.svg");
}

.guide-menu .menu-item .item-txt {
  position: relative;
  transition: padding .3s;
}

.guide-menu .menu-item .item-txt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 4px;
  height: 9px;
  background: url("../images/icon/ico_text_arrow.svg") no-repeat center;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.guide-menu .menu-item a:hover .item-txt {
  padding-right: 10px;
}

.guide-menu .menu-item a:hover .item-txt::after {
  opacity: 1;
  visibility: visible;
}

/* EVENT */
.event {
  margin-bottom: 140px;
}

.event .inner {
  display: flex;
  flex-wrap: wrap;
}

.event__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 12px);
  padding-bottom: 32px;
}

.event__title .event__more {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  align-items: center;
}

.event__title .event__more::before,
.event__title .event__more::after {
  content: "";
  display: inline-block;
  width: 27px;
  height: 24px;
  margin-top: -5px;
  background: url("../images/icon/ico_calender.svg") no-repeat center;
  background-size: contain;
}

.event__title .event__more::before {
  margin-right: 8px;
}

.event__title .event__more::after {
  width: 13px;
  height: 13px;
  margin-top: -5px;
  margin-left: 5px;
  background-image: url("../images/icon/ico_more_arrow_b.svg");
}

.event__item {
  position: relative;
  width: calc(25% - 8px);
  height: 380px;
  margin-top: -2px;
  border-left: 2px solid #000;
}

.event__item::before,
.event__item::after {
  content: "";
  position: absolute;
  left: 50%;
  z-index: 1;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
}

.event__item::before {
  top: 0;
}

.event__item::after {
  bottom: 0;
}

.event__item>a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.event__item .item-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__item .item-cont .list-label {
  margin-bottom: 9px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.event__item .item-cont .list-label::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  background-color: var(--main-color);
  border-radius: 50px;
}

.event__item .item-cont .list-label.label-convention::before {
  background-color: #8e49de;
}

.event__item .item-cont .title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.6;
}

.event__item .item-cont .date {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
}

.event__item .item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  filter: blur(10px);
  opacity: 0;
  transition: opacity, filter .26s;
}

.event__item .item-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event__item>a:hover .item-img {
  filter: blur(0);
  opacity: 1;
}

/* TICKET */
.ticket {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 58px;
  background: url("../images/bg_ticket_open.jpg") no-repeat center;
  background-size: cover;
}

.ticket::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.ticket .title-box {
  padding-bottom: 75px;
}

.ticket__item {
  display: flex;
  padding: 20px;
  background-color: #fff;
}

.ticket__img {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.ticket__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticket__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  flex-basis: 0;
  padding: 17px 0 0 40px;
}

.ticket__content .name {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}

.ticket__content-list {
  display: flex;
}

.ticket__content-list .list-item {
  flex-grow: 1;
  flex-basis: 0;
  column-gap: 20px;
}

.ticket__content-list .list-item h5 {
  margin-bottom: 14px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}

.ticket__content-list .list-item p {
  font-size: 16px;
  font-weight: 500;
}

.ticket__content-list .list-item.item-Dday p {
  font-size: 33px;
  font-weight: 600;
}

.ticket__link {
  display: flex;
  align-items: center;
}

.ticket__link .link-item a {
  position: relative;
  display: block;
  padding: 16px 21px;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.ticket__link .link-item a::before {
  content: "";
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height .2s;
}

.ticket__link .link-item:hover a::before {
  height: 100%;
}

.ticket__link .link-item:hover .txt {
  position: relative;
  z-index: 1;
  transition: color .2;
  color: #fff;
}

.ticket__link .link-item:first-child {
  margin-right: -1px;
}

.ticket-swiper {
  position: relative;
  padding-top: 71px;
  margin: 0 auto;
}

.ticket-swiper .swiper {
  padding-bottom: 41px;
}

.ticket-swiper .swiper-pagination.swiper-pagination-bullets {
  bottom: 0;
}

.ticket-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #707070;
  opacity: 1;
}

.ticket-swiper .swiper-button-wrap {
  position: absolute;
  top: 20px;
  right: 400px;
}

.ticket-swiper .swiper-button-prev,
.ticket-swiper .swiper-button-next {
  width: 63px;
  height: 45px;
  background: url("../images/icon/ico_slide_prev.svg") no-repeat center;
  background-size: contain;
}

.ticket-swiper .swiper-button-prev {
  left: -150px;
}

.ticket-swiper .swiper-button-next {
  background: url("../images/icon/ico_slide_next.svg") no-repeat center;
  background-size: contain;
}

.ticket-swiper .swiper-button-prev::after,
.ticket-swiper .swiper-button-next::after {
  display: none;
}

.ticket-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.ticket__content::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 207px;
  height: 36px;
  background: url("../images/bg_barcode.png") no-repeat center;
  background-size: contain;
}

.ticket-bg-left {
  position: absolute;
  top: 38px;
  bottom: 38px;
  left: -38px;
  width: 40px;
  background-color: #fff;
  border-left: 2px dashed #b1b1b1;
}

.ticket-bg-left::before,
.ticket-bg-left::after {
  content: "";
  position: absolute;
  top: -38px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url("../images/bg_ticket_left_top.png") no-repeat center;
  background-size: contain;
}

.ticket-bg-left::after {
  top: auto;
  bottom: -38px;
  left: 0px;
  background-image: url("../images/bg_ticket_left_bottom.png");
}

.ticket-bg-right {
  position: absolute;
  top: 38px;
  bottom: 38px;
  right: -38px;
  width: 40px;
  background-color: #fff;
}

.ticket-bg-right::before,
.ticket-bg-right::after {
  content: "";
  position: absolute;
  top: -38px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: url("../images/bg_ticket_right_top.png") no-repeat center;
  background-size: contain;
}

.ticket-bg-right::after {
  top: auto;
  bottom: -38px;
  right: 0px;
  background-image: url("../images/bg_ticket_right_bottom.png");
}